{% extends "base.html" %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block content %}
{% bootstrap_javascript jquery=True %}
{% bootstrap_messages %}

<div class="card cook-form">

<div class="container form-container ">
  <h2>{{user.profile.housename|title}}</h2>
  <h2>{{user.username|title}}</h2>
  <form method="POST">
      {% csrf_token %}
      {% bootstrap_form user_form %}
      {% bootstrap_form profile_form %}
      <input type="submit" class="btn button button-cook form-button" value="Aanmelden">
  </form>
</div>
</div>

{% endblock %}
