{% load staticfiles %}
{% load multifor %}
<table class="table">
<thead>
  <tr>

  </tr>
</thead>
<tbody>

{% if postcook_list or posteater_list %}
{% for postcook in postcook_list;  profile in profile_list %}
  {% if profile != postcook %}
  <h1>bitches</h1>
    {% else %}
<tr class="tr-eetlijst">
  <td>  <img class="rounded-circle img-fluid" style="width:40px;"src="{% static 'img/account_icon.png'%}"></img><p>+1</p></td>
  <td>{{ profile.user|title }}</td>
  <td>+4</td>
  <td>bitches</td>
  <td><i class="fas fa-times"></i></td>
</tr>
  {% endif %}
{% endfor %}
{% else %}
{% for profile in profile_list %}
<tr class="tr-eetlijst">
  <td>  <img class="rounded-circle img-fluid" style="width:40px;"src="{% static 'img/account_icon.png'%}"></img><p>+1</p></td>
  <td>{{ profile.user|title }}</td>
  <td>+4</td>
  <td>bla</td>
  <td><i class="fas fa-times"></i></td>
</tr>
{% endfor %}
{% endif %}
</tbody>
</table>
