$font-stack:    Helvetica, sans-serif;
$primary-color: #F95759;
$navbar-height: 40px;
$box-shadow: 0 7px 14px #ccc;

$white: #fff;
$purple: #6772e5;
$light-purple: #7795f8;

// Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575px) { ... }

// Small devices (landscape phones, less than 768px)
// @media (max-width: 767px) { ... }

// Medium devices (tablets, less than 992px)
// @media (max-width: 991px) { ... }

// Large devices (desktops, less than 1200px)
// @media (max-width: 1199px) { ... }

body{
// background-color: grey;
}

#canvas-basic{
  height: 100%;
  width: 100%;
  position:fixed;
}
.cutlery{
  position: absolute;
  right: 0px;
  width: 30px;
}
.content-days{
  margin: 60px;
  @media (max-width: 600px){
    margin:0;
  }

  .slick-list{
    padding: 30px;
  }
  .day:hover {
    transform: translateY(-2px);
    box-shadow: 0px 8px 17px #ccc;

  }
  .day{
    box-shadow: $box-shadow;
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
    overflow: hidden;
    margin: 10px;
    padding: 0 15px 0 15px;
    background-color: #FFF;

    h1{
      padding: 10px 10px 0 10px;
      color: #000;
      display: flex;
      justify-content: center;
      font-size: 2em;
      margin-bottom: 0;
    }
    h3{
      padding-left: 10px;
      padding-right: 10px;
      font-size: 1em;
      display: flex;
      justify-content: center;
    }

    .buttons{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    .button {
      margin: auto;
      height: 30px;
      line-height: 30px;
      padding: 0 12px;
      box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
      background: $white;
      color: $purple;
      border-radius: 3px;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: .025em;
      transition: all .15s ease;
      cursor: pointer;

      &:hover {
        color: $light-purple;
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
        text-decoration: none;
      }

      &--inverse {
        @extend .button;
        color: $white;
        background: $purple;
        text-decoration: none;

        &:hover {
          color: $white;
          background-color: $light-purple;
          text-decoration: none;
        }
      }
    }

    .peoples{
      margin-top: 10px;

      .kok{
        background-color: $light-purple;
        border-radius: 4px;
        box-shadow: 0 3px 8px #ccc;
        color: $white;


      }
    }

    .aanhang{
      overflow: hidden;
      display: flex;
      align-items: center;
      padding-left: 30px;
      .aan-icon{
        width: 20px;
      }

      img{
        float:left;
      }
      .name{
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        font-size: 12px;
      }
    }
    .person{
      overflow: hidden;
      display: flex;
      align-items: center;
      .pers-icon{
        width: 50px;
        padding: 9px;
      }

      img{
        float:left;
      }
      .name{
        margin-top: auto;
      }
    }
  }
}

h1 {
  font:  300% $font-stack;
  color: $primary-color;
  size: 3em;
}

.navbar{
  .navbar-brand{
    height: 100%;
    img{
      height: $navbar-height*1.5;
    }
  }
  .navbar-collapse{

    .dropdown-toggle{
      height: 100%;

        img{
          height: $navbar-height;
        }

    }
  }
}

.row{
  padding:20px;
  @media (max-width: 575px){
    padding: 0;
  }

.col-sm-2{
  padding: 20px;
  .content{
    padding:20px;
    border: solid 2px red;

  }
  }
}
