{% extends "base.html" %}


{% load i18n staticfiles %}
{% block content %}
{% if user.is_authenticated %}

<link rel='stylesheet' type='text/css' href="{% static 'css/fullcalendar.css' %}" />
<script type='text/javascript' src="{% static 'js/moment.js' %}"></script>
<script type='text/javascript' src="{% static 'js/fullcalendar.js' %}"></script>
<script src="{% static 'js/jquery-ui-datepicker.js' %}"></script>
<script src="{% static 'js/jquery.qtip.js' %}"></script>




<div id="calendar"></div>
<div id="loading">

</div>
<script type='text/javascript'>

$(document).ready(function() {
    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({

      events: '/schedule/api/occurrences?calendar_slug=hooggeacht',
          eventClick: function(event) {
              if (event.description) {
                  window.open(event.description);
                  return false;
              }
          },

          header: {
    left: 'prev,next,today',
    center: 'title',
    right: 'month,basicWeek,listDay'
},
    });
});
</script>
{% endif %}
{% endblock %}
