{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="header-img col-sm-12">
  <h1>FOETSOL</h1>
  <div class="sub-text">
    <h3>De eetlijst voor studenten.</h3>
  </div>
</div>
{% if user.is_authenticated %}
<div class="row">
      <div class="card  col-md-6 today">
        <div class="cook-form">
          <h2>Vandaag</h2>
          <h5 class="center">{% now "j F Y" %}</h5>
          {% include "posts/postcook_list.html" %}
          {% include "posts/posteater_list.html" %}
          {% include "accounts/profile_list.html" %}
        </div>
      </div>
      <div class="col-md-6">
        <div class="time">
        <a class="btn btn-secondary" href="{% url 'posts:posteater_create' %}">Inschrijven</a>
        <a class="btn btn-secondary" href="{% url 'posts:postcook_create' %}">Koken</a>
        <hr class="m-t">
        <div class="card vandaag-info">
          <h3>Info</h3>
          {% for postcook in postcook_list %}
            {% if postcook.extra_eater_allergy %}
            <div class="alert alert-warning" role="alert">
              Allergiën: {{ postcook.extra_eater_allergy}}
            </div>
            {% endif %}
          {% endfor %}
          <div class="row">
            <div class="col-6">
              <p>Wat gaan we eten?</p>
              {% for postcook in postcook_list  %}
              <p>{{ postcook.food }}</p>
              {% endfor %}          <p>Uiterlijke opgeeftijd</p>
              <p>Hoe laat?</p>
              {% for postcook in postcook_list  %}
              <p>{{ postcook.eat_time }}</p>
              {% endfor %}
            </div>
            <div class="col-6">
              <canvas id="myChart" data="[2,30]"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endif %}


  <!--<script type="text/javascript">
  $(document).ready(function(){
    var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: ["Mee-eters", "Niet mee-eters"],
          datasets: [{
              data: [{{ posteater_list|length }}+{{ postcook_list|length }},10-{{ posteater_list|length }}-{{ postcook_list|length }}],
              backgroundColor: [
                  'rgba(255, 99, 132,1)',
                  'rgba(54, 162, 235,1)',
              ],
              borderColor: [
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
              ],
              borderWidth: 1
          }]
      },
      options: {
        responsive:true,
        legend:false,
      }
  });
  });


</script> -->
{% endblock %}
